@use "sass:math";

.navbar {
  background: #0d152e;
  height: $base-sizing*3;
  padding: math.div($base-sizing, 2) $base-sizing*2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;

  .navbar-brand {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 75%;
      width: 100%;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: $base-sizing;
    list-style-type: none;

    a {
      font-family: 'Cantarell', sans-serif;
      font-weight: 800;
      letter-spacing: .06em;
      text-transform: uppercase;
      color: white;
      font-size: .6em;
      text-decoration: none;
    }
  }
}

.hero, .section {
  background-color: $darkgrey;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero {
  height: 100vh;
  background-image: url('/bgwp-e1644425763180.webp');

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: $base-sizing*2;

    img {
      min-width: $base-sizing*2;
      flex: 1;
    }
  }

  &__text {
    font-size: 1.2em;
    flex: 1;

    h1 {
      font-family: 'Cantarell', sans-serif;
      font-weight: 800;
    }
  }
}

.section {
  &__text {
    width: min(100vw, $base-sizing*25);
    padding: $base-sizing*2;
  }
}
