@use "sass:math";

@media only screen and (min-width: $on-desktop) {
}

@media only screen and (max-width: $on-mobile) {
  h1 {
    font-size: 7vw;
  }

  .hero {
    text-align: center;

    img {
      width: 50vw;
    }

    p {
      font-size: 1.4em;
      font-weight: 200;
    }

    &__wrapper {
      flex-direction: column;
    }

    &__text {
      font-size: .8em;
    }
  }

  .section {
    &__partners {
      flex-direction: column;
    }
  }

  .nav-tabs {
    flex-direction: column;
    gap: math.div($base-sizing, 2)
  }

  .tab {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px 25px;
    
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .navbar {
    border: none;
    background-color: none;

    &__inner {
      justify-content: center;
    }

    .navbar-brand {
      width: 45vw;
    }

    ul {
      overflow: hidden;
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      height: $base-sizing*3;
      width: 100%;
      background-color: $darkblue;
      font-size: 1.2em;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: height $transition-time*2 ease-in-out;
      z-index: -1;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);


      li {
        opacity: 0;
        display: none;
      }
    }

    .toggleLabel {
      display: flex;
    }

    .toggle:checked ~ ul {
      height: 100%;

      li {
        animation: fadein $transition-time*4 linear;
        opacity: 1;
        display: block;
      }
    }
  }

  .links {
    flex-wrap: wrap;

    li {
      a {
        padding: 7px 0;

        &::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  .footer {
    .links {
      font-size: min(5.5vw, math.div($base-sizing,2));
    }
  }
}

@keyframes fadein {
  0% {
      opacity: 0
  }

  50% {
      opacity: 0
  }

  100% {
      opacity: 1
  }
}